{% extends 'ui/base.html' %}
{% load static %}

{% block title %}Blog | Lawmaker{% endblock %}

{% block content %}

<aside id="ftco-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url('{{ blog.image.url }}');">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h1><strong>{{ blog.title }}</strong></h1>
                                <h2>{{ blog.description }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="ftco-blog">
    <div class="container">
        <div class="row">
            {% for post in blog_content %}
            <div class="col-md-6 col-lg-4">
                <div class="blog-featured blog-entry animate-box">
                    {% if post.image %}
                    <a href="{% url 'blog_single' post.id %}">
                        <img class="img-responsive img-rounded" src="{{ post.image.url }}" alt="{{ post.title }}">
                    </a>
                    {% else %}
                    <a href="{% url 'blog_single' post.id %}">
                        <img class="img-responsive img-rounded" src="{% static 'images/default-blog.jpg' %}" alt="{{ post.title }}">
                    </a>
                    {% endif %}
                    
                    <h2><a href="{% url 'blog_single' post.id %}">{{ post.title }}</a></h2>
                    <p class="meta"><span>{{ post.created_at|date:"F d, Y" }}</span></p>
                    <p>{{ post.content|truncatewords:25 }}</p>
                </div>
            </div>
            {% empty %}
            <p>No blog posts found.</p>
            {% endfor %}
        </div>

        <!-- Pagination placeholder -->
        <div class="row">
            <div class="col-md-12 pagination">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="caption">Next</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
